#catalogo {
    background-color: rgb(255, 255, 255); 
    margin: auto;
    margin-left: 20%;
    width:75vw;
    display: flex;
    flex-direction: column; 
    position: relative;  
}

#catalogo img {
    width: 160px;
    height: 190px;
    padding: 15px 60px;
    margin: 0px 5px;
}

#catalogo .libro {
    background: beige;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 10px;
    display: flex;
    flex-direction: row;
    position: relative;
}

#catalogo .botonlibro {
    position: absolute;
    right: 5%;
    bottom: 40px;
    display: flex;
    gap: 8px;
}

#catalogo .botonlibro button {
    margin: 0;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(175, 9, 9);
    border-style: none;
    color: white;
    font-weight: bold;
}

#catalogo .botonlibro button:hover {
    background-color: rgb(159, 6, 6);
}

#catalogo .principalvacio  {
    font-size: 23px;
    font-weight: bolder;
}

