body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: beige;
    font-family: 'Poppins', sans-serif;
}

.img-portada img {
    height: 100vh;
    width: 70vw;
    object-fit: cover;
}

.registro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    background-color: #fff;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    width: 10em;
}

.logo h1 {
    font-size: 25px;
    color: #333;
    margin-top: 5px;
}

#registros {
    width: 80%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input {
    display: flex;
    flex-direction: column;
    position: relative;
}

.input label {
    font-size: 10px;
    color: #671a1a;
    font-weight: normal;
    margin-bottom: 1px;
    padding: 5px;
}

.input input {
    font-size: 15px;
    margin-bottom: 30px;
    border:medium;
    border-bottom: 2px solid #b61b1b;
    padding: 1px 0;
}


.boton {
    text-align: center;
}

.boton button {
    font-size: 13px;
    font-weight: normal;
    padding: 10px 0;
    width: 60%;
    border: none;
    border-radius: 10px;
    background-color: red;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

.boton button:hover {
    background-color: #be0505;
}


a {
    text-decoration: none;
    color: #050af9;
    font-size: 13px;
    display: block;
    text-align: right;
    margin-top: 50px;
    font-weight: bold;
}

a:hover {
    color: rgb(11, 68, 117);
}
