.lecturas-main { 
    margin-left: 20%; 
    padding: 20px; 
    box-sizing: border-box; 
}

.col {
    padding-bottom: 15px;
}

.lista-libros {
    background-color: rgb(237, 241, 241); /* Fondo del contenedor de tarjetas */
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.libro-tarjeta {
    background-color: #ffffff; 
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    width: 250px;
    justify-content: space-between;
    height: auto;
}

.portada-contenedor {
    width: 100%;
    height: 150px;
    overflow: hidden;
    margin-bottom: 10px;
    border-radius: 4px;
}

.portada-miniatura {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.acciones-lectura {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}

.btn-accion, .btn-descarga {
    padding: 8px;
    border: 1px solid #8f0606;
    background-color: #b50505;
    color: rgb(239, 228, 228);
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.btn-descarga {
    background-color: #056d1f;
    border: none;
}

/* hace que las tarjetas con la informacion de los libros se muestre horizontalmente */
#leyendo {
    display: flex;
    flex-direction: row;
}

#leidos {
    display: flex;
    flex-direction: row;
}

#favoritos {
    display: flex;
    flex-direction: row;
}


.btn-accion:hover {
    background-color: #a20404;
}

.btn-descarga:hover {
    background-color: #035e19;
}