#catalogo {
    background-color: rgb(255, 255, 255); 
    margin: auto;
    margin-left: 20%;
    width: 75vw; 
    display: flex;
    flex-direction: column;
}

#catalogo h2 {
    margin: 20px 20px;
    text-align: center;
    font-size: 1.5em;
    color: #ba0707;
}

#catalogo .libro {
    background: beige;
    border-radius: 8px;
    padding: 5px;
    margin: 10px;
    text-align: center;
    width: 150px; 
}

#catalogo img {
    width: 120px;
    height: 150px;
    padding: 10px;
    margin: 0px 5px;
}



