# Node
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Build
dist/
dist-ssr/
coverage/

# Sistema
.DS_Store

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# Cache
.cache/
*.log
*.local

# Prettier / ESLint
.eslintcache
*.tsbuildinfo
