body {
    font-family: Arial, sans-serif;
    background-color: #f0ebde;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.encabezado {
    background-color: rgb(189, 163, 129);
    color: rgb(54, 97, 21);
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

.encabezado header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.encabezado h1 {
    margin: 0;
    letter-spacing: 10px;
    font-size: 30px;
}

.encabezado .foto {
    width: 120px;
    height: 120px;
    border-radius: 30%;
    overflow: hidden;
    margin-top: 15px;
}

.encabezado .foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenedor {
    background-color: #ffffff;
    padding: 30px 40px;
    border-radius: 15px;
    width: 400px;
    margin-top: 40px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
    color: #5f2222;
    margin-bottom: 5px;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    border: 2px solid #938787;
    border-radius: 8px;
    font-size: 14px;
}

.sexo {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

button {
    background-color: rgb(54, 97, 21);
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

input.error {
    border-color: red;
}

input.correcto {
    border-color: green;
}
