body {
    margin: 0;
    padding: 0;
    background: #FBFFFE;
}

.encabezado { 
    width: 100%;
    background: #9ddfc7;
    display: flex;
    align-items: center;
    justify-content: space-between; /* espacio entre nombre y foto */
    padding: 20px;
    box-sizing: border-box;
}

.encabezado .nombre {
    flex: 1;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: #03145a;
}

.encabezado .foto {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0; /* evita que se deforme */
    margin-top: 30px;
}

.encabezado .foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

    
/* Contenedor principal para dividir en dos columnas */
.contenido {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
    gap: 20px; /* espacio entre columnas */
}

.contenido .informacion {
    flex: 1; 
    background: #e5f7f0;
    padding: 20px;
    border-radius: 10px;
}

.contenido .habilidades {
    flex: 1; 
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
}

.informacion h2, .habilidades h2 {
    font-family: 'Poppins', sans-serif;
    color: #6c7497;
    border-bottom: 4px solid #03145a;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.referencias_personales {
    margin: 20px;
    background: #e5f7f0;
    padding: 20px;
    border-radius: 10px;
    .tabla_referencias {
        width: 100%;
        border-collapse: collapse;
        th, td {
            border: 1px solid #03145a;
            padding: 10px;
            text-align: left;
        }
        th {
            background: #99dbc3;
            color: #031458;
            font-weight: bold;
        }
    }
}
